<h1>About Page</h1>

<div class="jumbotron text-center">
   <h1>Welcome to the Library Database</h1>

   <br/><br/>

   <p><i>Check out our library locations and information about the interesting books you can find!</i></p>

</div>
